/* --------------------------------------
+++++++++++++  Google Fonts +++++++++++++
--------------------------------------- */
/* PT Serif */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');
/* font-family: 'Raleway', sans-serif; */



/* --------------------------------------
++++++++++++++  Common CSS ++++++++++++++
--------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
}
.fix{
    overflow: hidden;
}


/* --------------------------------------
++++++++++++++  Header CSS ++++++++++++++
--------------------------------------- */
.header-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 50px 200px;
}

/* Header Logo Style */
.header-title{
    font-size: 32px;
    letter-spacing: 9px;
    color: #000000;
    font-weight: 700;
    font-family: "PT Serif";
    filter: drop-shadow(-0.696px 4.951px 2.5px rgba(21,21,21,0.16));
}

/* Nav Styles */
.header-nav{
    display: flex;
}
.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding-right: 30px;
}
.nav-list li a{
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
}
.nav-list li:hover a{
    color: #1769ff;
    transition: 0.3s all ease-in-out;
}

/* Header Button */
.header-btn{
    /* Button Design */
    width: 151px;
    height: 58px;
    border-radius: 29px;
    background-color: rgba(255,82,83,0);
    border: 2px solid #1769ff;
    padding: 8px 14px;

    /* text design */
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
    color: #1769ff;
    font-weight: 400;
    font-family: "Poppins";
}
.header-btn:hover{
    background-color: #1769ff;
    color: #FFF;
    transition: 0.3s all ease-in-out;
}

/* --------------------------------------
+++++++++++  Section-1 CSS +++++++++++++
--------------------------------------- */

.section-1-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px;
}

.section-1-image img{
    width: 800px;
}

.section-1-details{
    width: 570px;
}
.section-1-title-1{
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #333333;
    font-weight: 300;
    font-family: "Raleway";
    padding-bottom: 33px;
}
.section-1-title-2{
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 56px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
    padding-bottom: 43px;
}
.description{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #777777;
    font-family: "Raleway";
}
.section-1-btn{
    /* Button Design */
    padding: 10px 30px;
    border-radius: 30px;
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.2));
    background-color: #1769ff;
    border: none;
    cursor: pointer;
    margin-top: 43px;

    /* Button Placeholder */
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.section-1-btn:hover{
    background-color: #173b67;
    color: #ffffff;
    transition: 0.3s all ease-in-out;
}

/* --------------------------------------
+++++++++++  Section-2 CSS +++++++++++++
--------------------------------------- */
.section-2{
    margin-bottom: 100px;
}
.section-2-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.shadow-title{
    position: absolute;
    font-size: 55px;
    letter-spacing: 1px;
    line-height: 70px;
    color: #eeeeee;
    font-family: "Poppins";
}
.section-2-main-title{
    font-size: 32px;
    letter-spacing: 9px;
    line-height: 70px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
    z-index: 1;
}

/* Service Card Styles */
.service-card{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.service-items{
    width: 300px;
    height: 310px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: aqua; */
}
.service-items:hover{
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.2));;
    box-shadow: 2px 2px 10px #ddd;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
}
.service-item-logo{
    text-align: center;
}
.fa-fill-drip, .fa-gem, .fa-magic{
    font-size: 43px;
    filter: drop-shadow(-0.557px 3.961px 2.5px rgba(23,105,255,0.18));
    color: #1769ff;
    padding-top: 60px;
    padding-bottom: 40px;
}
.service-item-title{
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    padding-bottom: 23px;
}
.service-item-line-brk{
    width: 41px;
    height: 2px;
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.39));
    background-color: #1769ff;
    margin:auto;
    margin-bottom: 34px;
}
.service-item-details{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #777777;
    font-family: "Raleway";
    text-align: center;
}
/* Hightlight card */
.card-highlight{
    border-radius: 5px;
    filter: drop-shadow(-4.593px 32.679px 35px rgba(0,0,0,0.16));
    background-color: #1769ff;
}

.card-highlight .fa-gem{
    color: #ffffff;
}
.card-highlight .service-item-title{
    color: #ffffff;
}
.card-highlight .service-item-line-brk{
    color: #ffffff;
}
.card-highlight .service-item-details{
    color: #d8ffec;
}
