/* --------------------------------------
+++++++++++++  Google Fonts +++++++++++++
--------------------------------------- */
/* PT Serif */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600&display=swap');



/* --------------------------------------
++++++++++++++  Common CSS ++++++++++++++
--------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: auto;
}
.fix{
    overflow: hidden;
}


/* --------------------------------------
++++++++++++++  Header CSS ++++++++++++++
--------------------------------------- */
.header-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 50px 200px;
}

/* Header Logo Style */
.header-title{
    font-size: 32px;
    letter-spacing: 9px;
    color: #000000;
    font-weight: 700;
    font-family: "PT Serif";
    filter: drop-shadow(-0.696px 4.951px 2.5px rgba(21,21,21,0.16));
}

/* Nav Styles */
.header-nav{
    display: flex;
}
.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding-right: 30px;
}
.nav-list li a{
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
}
.nav-list li:hover a{
    color: #1769ff;
    transition: 0.3s all ease-in-out;
}

/* Header Button */
.header-btn{
    /* Button Design */
    width: 151px;
    height: 58px;
    border-radius: 29px;
    background-color: rgba(255,82,83,0);
    border: 2px solid #1769ff;
    padding: 8px 14px;

    /* text design */
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
    color: #1769ff;
    font-weight: 400;
    font-family: "Poppins";
}
.header-btn:hover{
    background-color: #1769ff;
    color: #FFF;
    transition: 0.3s all ease-in-out;
}

/* --------------------------------------
+++++++++++  Section-1 CSS +++++++++++++
--------------------------------------- */

.section-1-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 130px;
}

.section-1-image img{
    width: 800px;
}

.section-1-details{
    width: 570px;
}
.section-1-title-1{
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #333333;
    font-weight: 300;
    font-family: "Raleway";
    padding-bottom: 33px;
}
.section-1-title-2{
    font-size: 48px;
    letter-spacing: 1px;
    line-height: 56px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
    padding-bottom: 43px;
}
.description{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #777777;
    font-family: "Raleway";
}
.section-1-btn{
    /* Button Design */
    padding: 10px 30px;
    border-radius: 30px;
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.2));
    background-color: #1769ff;
    border: none;
    cursor: pointer;
    margin-top: 43px;

    /* Button Placeholder */
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
}
.section-1-btn:hover{
    /* background-color: #173b67; */
    color: #ffffff;
    transition: 0.3s all ease-in-out;
    opacity: 0.8;
}

/* --------------------------------------
+++++++++++  Section-2 CSS +++++++++++++
--------------------------------------- */
.section-2{
    margin-bottom: 100px;
}
.section-2-title, .section-3-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
}
.shadow-title{
    position: absolute;
    font-size: 55px;
    letter-spacing: 1px;
    line-height: 70px;
    color: #eeeeee;
    font-family: "Poppins";
}
.section-2-main-title, .section-3-main-title{
    font-size: 32px;
    letter-spacing: 9px;
    line-height: 70px;
    color: #333333;
    font-weight: 400;
    font-family: "Poppins";
    z-index: 1;
}

/* Service Card Styles */
.service-card{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}
.service-items{
    width: 300px;
    height: 310px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: aqua; */
}
.service-items:hover{
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.2));;
    box-shadow: 2px 2px 10px #ddd;
    border-radius: 5px;
    /* transition: 0.2s all ease-in-out; */
}
.service-item-logo{
    text-align: center;
}
.fa-fill-drip, .fa-gem, .fa-magic{
    font-size: 43px;
    filter: drop-shadow(-0.557px 3.961px 2.5px rgba(23,105,255,0.18));
    color: #1769ff;
    padding-top: 60px;
    padding-bottom: 40px;
}
.service-item-title{
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    font-weight: 600;
    font-family: "Poppins";
    text-align: center;
    padding-bottom: 23px;
}

.service-item-line-brk{
    width: 41px;
    height: 2px;
    filter: drop-shadow(-0.696px 4.951px 8px rgba(23,105,255,0.39));
    background-color: #1769ff;
    margin:auto;
    margin-bottom: 34px;
}

.service-item-details{
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #777777;
    font-family: "Raleway";
    text-align: center;
}
/* Hightlight card */
.card-highlight{
    border-radius: 5px;
    filter: drop-shadow(-4.593px 32.679px 35px rgba(0,0,0,0.16));
    background-color: #1769ff;
}
.card-highlight:hover{
    opacity: 0.9;
}

.card-highlight .fa-gem{
    color: #ffffff;
}
.card-highlight .service-item-title{
    color: #ffffff;
}
.card-highlight .service-item-line-brk{
    color: #ffffff;
}
.card-highlight .service-item-details{
    color: #d8ffec;
}




@media only screen and (max-width: 688px){
    /* Header Responsive */
    .header-bg{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .header-title{
        font-size: 25px;
        letter-spacing: 9px;
        color: #000000;
        font-weight: 700;
        font-family: "PT Serif";
        filter: drop-shadow(-0.696px 4.951px 2.5px rgba(21,21,21,0.16));

        text-align: center;
        padding: 20px 0px;
    }
    .header-nav{
        display: none;
    }
    .header-btn{
        display: none;
    }

    /* Section-1 Responsive */
    .section-1-bg{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .section-1-image img{
        width: 360px;
    }

    .section-1-details{
        width: 100%;
        padding: 50px 20px;
        background-color: #f4f4f4;
    }
    .section-1-title-1{
        font-size: 30px;
        letter-spacing: 2px;
        padding-bottom: 25px;
    }
    .section-1-title-2{
        font-size: 36px;
        letter-spacing: 0px;
        line-height: 45px;
        padding-bottom: 35px;
    }
    .section-1-btn{
        /* Button Design */
        padding: 8px 28px;

        /* Button Placeholder */
        font-size: 15px;
        
    }
}


/* --------------------------------------
+++++++++++  Section-3 CSS +++++++++++++
--------------------------------------- */
.section-3{
    padding-bottom: 100px;
    background-color: #f4f4f4;
}
/* Section 3 tilte css added with section 2 css */

.section-3-images{
    display: flex;
    justify-content: center;
}
.img-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.img-items img{
    width: 400px;
    height: 400px;
}
.img-items img:hover{
    opacity: 0.7;
    transition: 0.2s all ease-in-out;
}

/* image-card style */

.card-img-item{
    width: 400px;
    height: 400px;
    background-color: #1769ff;
    border-radius: 0px 0px 100px 0px;
}
.card-img-item:hover{
    opacity: 0.7;
    transition: 0.2s all ease-in-out;
}

.card-img-item-title-1{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;

}
.card-img-item-title-2{
    font-size: 24px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Poppins";
    padding-bottom: 30px;
    text-align: center;
}

/* --------------------------------------
+++++++++++  Section-4 CSS +++++++++++++
--------------------------------------- */

.section-4-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 150px;
}

.section-4-details{
    width: 800px;
}
.section-4-title h2{
    font-size: 34px;
    line-height: 26px;
    color: #333333;
    font-weight: 300;
    font-family: "Poppins";
    padding-bottom: 20px;
}
.section-4-description{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #777777;
    font-family: "Raleway";
}

/* section 4 button */
.section-4-btn{
    /* Button Design */
    width: 151px;
    height: 58px;
    border-radius: 29px;
    background-color: rgba(255,82,83,0);
    border: 2px solid #1769ff;
    padding: 8px 14px;

    /* text design */
    text-decoration: none;
    font-size: 20px;
    line-height: 70px;
    color: #1769ff;
    font-weight: 400;
    font-family: "Poppins";
}
.section-4-btn:hover{
    background-color: #1769ff;
    color: #FFF;
    transition: 0.3s all ease-in-out;
}

/* --------------------------------------
+++++++++++  Section-5 CSS +++++++++++++
--------------------------------------- */
.section-5{
    width: 100%;
    background-color: #f4f4f4;
}
.section-5-items{
    width: 60%;
    margin: 0 auto;
}
.section-5-title h2{
    font-size: 50px;
    line-height: 60px;
    color: #0a0b0c;
    font-weight: 300;
    font-family: "Poppins";
    text-align: center;
    padding-top: 170px;
    padding-bottom: 70px;
}


/* User Details CSS */
.section-5-user{
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.user-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-bottom: 20px;
}
.user-name{
    font-size: 17px;
    letter-spacing: 0px;
    color: #0a0b0c;
    font-weight: 600;
    font-family: "Raleway";
    padding-bottom: 15px;
}
.user-profession{
    font-size: 15px;
    letter-spacing: 0px;
    color: #8b8b8b;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 43px;
}
.setion-5-user-details{
    font-size: 17px;
    letter-spacing: 0px;
    color: #0a0b0c;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 170px;
}

/* --------------------------------------
+++++++++++++++  Footer +++++++++++++++++
--------------------------------------- */
.footer-bg {
    width: 100%;
}
.footer-items{
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
}

.footer-nav-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

/* Footer Nav */
.footer-nav-ul{
    display: flex;
}
.footer-nav ul li{
    list-style: none;
    padding-right: 30px;
}
.footer-nav ul li a{
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 52px;
    color: #222222;
    font-weight: 400;
    font-family: "Poppins";
    text-align: center;
}
.footer-nav ul li:hover a{
    color: #1769ff;
    transition: 0.3s all ease-in-out;
}

/* Footer Search */
.footer-search input{
    width: 233px;
    height: 46px;
    border-radius: 23px;
    background-color: rgba(236,55,108,0);
    border: 1px solid #9b9b9b;

    /* Placeholder Text */
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 52px;
    color: #444444;
    font-weight: 400;
    font-family: "Poppins";
    padding-left: 30px;
}

/* Footer Social Icons */
.footer-social-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.social-icons{
    display: flex;
}
.footer-social-icons ul li{
    list-style: none;
    padding-right: 30px;
}
.footer-social-icons ul li a{
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #ebebeb;

    /* Fonts Style */
    font-size: 20px;
    line-height: 39px;
    color: #a7a7a7;
    font-family: "Font Awesome";
}
.footer-social-icons ul li:hover a{
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #1769ff;

    /* Fonts Style */
    font-size: 20px;
    line-height: 39px;
    color: #ffffff;
    font-family: "Font Awesome";
    transition: 0.3s all ease-in-out;
}

/* Footer HR Line */
.footer-hr{
    width: 100%;
    height: 1px;
    filter: drop-shadow(-0.696px 4.951px 23px rgba(0,0,0,0.03));
    background-color: #ffffff;
    margin-bottom: 50px;
}

/* Footer Copyright */
.copyright{
    text-align: center;
    padding-bottom: 50px;
}
.copyright p{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #777777;
    font-weight: 400;
    font-family: "Poppins";
}
.copyright p a{
    color: #1769ff;
    text-decoration: none;
}

/* --------------------------------------
++++++++++++  Media Queary ++++++++++++++
--------------------------------------- */
@media only screen and (max-width: 688px){

}